<h3 class="text-center my-3 fs-2">Lista de Productos</h3>
<ul class="mystyle-products" id="divProducts">

</ul>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
<script src="/js/products.js"></script>