<form id="registerForm" method="POST" action="api/session/register">
  <div class="text-center">
    <img src="/img/login.svg" height=80px>
    <h2 class="my-2">Registrarse</h2>
    <hr>
  </div>
  <div class="form-group">
    <label for="first_name" class="my-2">Nombre</label>
    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Ingrese su nombre" required>
  </div>
  <div class="form-group">
    <label for="last_name" class="my-2">Apellido</label>
    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Ingrese su apellido" required>
  </div>
  <div class="form-group">
    <label for="email" class="my-2">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Ingrese su email" required>
  </div>
  <div class="form-group">
    <label for="birth" class="my-2">Fecha de Nacimiento</label>
    <input type="date" id="birth" name="birth" class="form-control" placeholder="Ingrese su fecha de nacimiento" required>
  </div>
  <div class="form-group">
    <label for="password" class="my-2">Contraseña</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
  </div>
  <button type="submit" class="btn botonEnviar">Enviar</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script href="js/register.js"></script>