<h2>Reset de Password</h2>
 <div id="formContainer">
      <form id="restorePassword" method="POST">
        <label for="password">Escriba su nueva contraseña:</label>
        <input type="password" id="password" required/>
        <label for="reset-password">Escribe de nuevo tu nueva contraseña:</label>
        <input type="password" id="reset-password" required/>
        <Button type="submit">Enviar</Button>
      </form>
    </div>
<a href="/login">Iniciar sesión</a>

<script src="/js/resetPassword.js"></script>

