<form id="restorePassword" method="POST">
  <div class="text-center">
    <img src="/img/login.svg" height=80px>
    <h2 class="my-2">Restablecer su contraseña</h2>
    <hr>
  </div>
  <div class="form-group">
    <label for="password" class="my-2">Escriba su nueva contraseña: </label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su nueva contraseña" required>
  </div>
  <div class="form-group">
    <label for="reset-password" class="my-2">Escriba de nuevo su nueva contraseña:</label>
    <input type="password" id="reset-password" class="form-control" placeholder="Ingrese su nuevamente su nueva contraseña" required>
  </div>
  <button type="submit" class="btn botonEnviar">Enviar</button>
  <div class="d-flex justify-content-between my-2">
    <a href="/register">Iniciar sesion</a>
  </div>
</form>

<script src="/js/resetPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

