<div class="wrapper">
  <div class="navbar">
    <div class="navbar_left">
      <div class="logo">
        <a href="/product">MICHAEL KORS</a>
      </div>
    </div>
    <div class="logo">
        <a href="/login">Login</a>
    </div>
    <div class="logo">
        <a href="/register">Register</a>
    </div>
    <div class="logo">
        <a href="/product">Products</a>
    </div>
    <div class="logo">
        <a href="/cart">Cart</a>
    </div>

    <div class="navbar_right">
      <div class="notifications">
        <div class="icon_wrap"><i class="far fa-bell"></i></div>        
      </div>
      <div class="profile">
        <a href="/profile">
            <div class="icon_wrap">
            <img src="https://i.imgur.com/x3omKbe.png" alt="profile_pic">
            <span class="name">Profile</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        </a>
    </div>
  </div>
</div>